@media  (max-width: 576px) {
    body{
        
    }
    header{
        flex-direction: column;
        align-items: center;
    }
    header h1{
        width: 15%;
        text-align: center;
        margin: 10px;
        
    }
    header ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 5px;
        
    }
    header ul li{
        
        margin: 10px;
        
    }
    header ul li:hover{
        border-bottom: none;
        
    }
    .primeira-parte{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }    
    .lado-esquerdo{
        
    }
    .lado-esquerdo h2{
        font-size: 1.5rem;
        
    }
    .img1{
        
        width: 30vw;
        
        
    }
    .img1 img{
   
       
        
    }
    main{
        position: relative;
        height: auto;
    }
    main ul{
        position: relative;
        margin-left: 0%;
    }
    main ul li{
        width: 20%;
        background-size: auto;
        display: block;
        text-align: left;
    }
    .caixa{
        position: relative;
        font-size: 1.2rem;
    }
    .sobre-mim{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        
    }
    .sobre-mim img{
        width: 40vw;
    
    }
    .sbm-texto{
        text-align: center;
    }
    main{
        display: none;
    }
    .projetos{
    
    }

    img{
        width: 30vw;
    }
}