* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}

#conteudo {
    width: 100%;
    overflow: hidden;

}
 /* Inicio Header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px;
}

header h1 {
    margin-left: 20vw;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 5px;
}

header ul {
    cursor: pointer;
    list-style-type: none;
    margin-right: 10vw;
    margin-top: 2px;
}

header ul li {
    display: inline-block;
    margin: 10px;
    text-transform: uppercase;
    color: white;
}

header ul a {
    color: white;
    text-decoration: none;

}

header ul li:hover {
    border-bottom: 2px solid blueviolet;
    padding: 7px;
    margin: 0%;
    transition: 2ms;
}

/* Inicio primeira parte */
.primeira-parte {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    width: 100%;

}

.lado-esquerdo {
    height: auto;
    color: white;

}

.lado-esquerdo h2 {
    text-align: center;
    margin: 10;
    font-size: 2rem;
}

 /* inicio parte principal */
main {
    color: white;
    background-color: black;
    position: relative;
    width: 100%;
    height: 400px;

}

main ul {
    position: absolute;
    margin-left: 40px;
    margin-top: 20px;

}


main ul li {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-color: black;
    margin: 15px;
    border-radius: 20px;
    padding: 8px;

}

main ul li:hover {
    background-color: white;
}

main img {
    margin-top: 10px;
    width: 80px;
    margin-left: auto;

}

#texto p {
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 1.6rem;
    margin-left: 100px;
}
 /* Inicio sobre mim */
.sobre-mim {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    width: 100%;
    background-color: blueviolet;
    color: white;

}

.imagem-sbm img {

    flex-grow: 2;


}

.sbm-texto {
    flex-grow: 1;
    text-align: justify;
    max-width: 500px;
}

/* Inicio projetos*/
.projetos {
    background-color: black;
    color: white;
}

.titulo h2 {
    font-size: 1.6rem;
    display: inline-block;
    margin: 15px 600px;
}
.conteiner-projeto{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    
}
.card{
    width:250px;
    height: 240px;
    border: 1px solid white ;
    border-radius: 40px;
    padding: 10px;
    margin: 10px;
}
.card1{
    background-color:yellow;
    color: black;
}
.card1 img{
    width: 150px;
    background-color: yellow;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 30px;
}
.card p{
    margin-top: 10px;
}
.card1 img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    border-radius: 20px;
    padding: 4px;
}

 /* inicio footer */
.end {
    background-color: blueviolet;
    color: white;
    text-align: center;
}

.end ul {
    display: inline-block;
}

.imagens-final ul li {
    display: inline-block;
    margin-top: 10px;
}

.end ul li img {
    width: 40px;
    display: inline-block;

}
.imagens-final ul li a img{
    transition: all 1s;
    cursor: pointer;
}
.imagens-final ul li a img:hover{
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}